<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form action="POST" class="mt-3">
          <div class="form-group">
            <input
              type="file"
              class="form-control"
              id="inputFile"
              multiple
              accept="image/*"
              @change="handleFileUpload"
            />
          </div>
        </form>
      </div>
    </div>
    <div class="row" v-if="images.length">
      <div class="col-md-6 offset-md-3">
        <div class="border mt-3 p-2 w-100 h-100">
          <div class="row">
            <div v-for="(image, index) in images" :key="index" class="col-md-6">
              <img
                :src="image.previewUrl"
                :alt="{ index }"
                :class="`w-100 h-100 mb-1${
                  image.hasRedBorder ? ' border border-danger' : ''
                }`"
              />
              <button class="btn btn-danger mb-3" @click="removeImage(index)">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="module">
export default {
  data() {
    return {
      images: [],
      selectedImage: null,
    };
  },
  methods: {
    handleFileUpload(event) {
      const files = event.target.files;
      for (let i = 0; i < files.length; i++) {
        const fileSize = (files[i]?.size || 0) / 1024 ** 2;

        const reader = new FileReader();
        reader.onload = (e) => {
          this.images.push({
            file: files[i],
            previewUrl: e.target.result,
            hasRedBorder: fileSize >= 2,
          });
        };
        reader.readAsDataURL(files[i]);
      }
    },
    removeImage(index) {
      this.images.splice(index, 1);
    },
    showImage(index) {
      this.selectedImage = this.images[index];
    },
    checkImageFile() {
      return;
    },
  },
};
</script>
